body {
    height: fit-content;
    font-family: 'Bitter', serif;
    

}

p {
    color: rgb(52, 54, 56);
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

#navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 3;
    width: 100vw;


}

.nav-item {
    float: right;
  
}



#main_section{
    background-image: url(https://images.unsplash.com/photo-1616499062101-3a7e34488ae3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2389&q=80);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;

    
    
   
}

#main_content {
    margin-bottom: 300px;
    

}

#william_sutton {
    position: relative;
    color: rgb(217, 245, 255); 
    text-align: center; 
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    


}

#web_developer {

    position:relative;
    color: rgb(231, 229, 199);
    text-align: center;
    font-size: 25px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.container1 {
   
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container1 p.typetext {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    overflow: hidden;
  }
  .container1 p.typetext span.typed-text {
    font-weight: normal;
    font-family: 'Cairo', sans-serif;
    color: rgb(231, 229, 199);
  }

  .container1 p.typetext span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container1 p.typetext span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

#about_me {
    font-family: 'Cairo', sans-serif;
    color: white;
}

#about_section{
    background: rgb(190, 203, 216);
    height: fit-content;
    text-align: center;
    padding-top: 40px;

}

.flex-container{   
    background: rgb(190, 203, 216);
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;


}
.icons-container{
    background: rgb(190, 203, 216);
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    
    padding-top: 40px;
    padding-bottom: 40px;

}

.image-container1{
    background-color: rgb(250, 246, 231);
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.image-container2{
    background-color: rgb(250, 246, 231);
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 40px;
    column-gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

@media(max-width: 800px){
    .flex-container{
        flex-direction: column;
        
    }
    .image-container1{
        flex-direction: column;
    }
    .image-container2{
        flex-direction: column;
    }
        
}
 #icons{
    margin-top: 20px;
    width: 200px;
 }
 #resume{
 }

#projects_section {
    background-color: rgb(250, 246, 231);
    padding-bottom: 50px;
}


#projects_header {
    text-align: center;
    text-decoration-line: underline;
    padding-top: 50px;
    font-family: 'Cairo', sans-serif;
    
    


}

#gdheader{
    text-align: center;
    text-decoration-line: underline;
    padding-top: 50px;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 40px;
}


  
img:hover {

    opacity: .5;
    transition: .5s ease;
}



#project1 {
   margin-top: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   height: auto;
   text-align: center;
   background:  rgb(190, 203, 216);
   border-style: none;
   border-radius: 1em;

   
   
}

#p1{
    margin-top: 50px;
}

label, input, textarea {
    display: block;
}

#graphicdesign_section {
    background-color: rgb(250, 246, 231);
    padding-bottom: 50px;
}



#contact_me{
    font-family: 'Cairo', sans-serif;
    color: white;
    padding-bottom: 25px;
}

.contact_form{
    width: 75%;
    background-color: rgb(250, 246, 231);
    border-style: none;
    border-radius: 5px;
}


#fs-frm-inputs{
    color: whitesmoke;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#contact_section {
  
    background-color: rgb(190, 203, 216);
    background-image: url();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    

}

#full-name{
    width: 50%;
}


#email-address {
    width: 50%;

}

#email-subject{
    width: 70%;
}

#message{
    margin-top: 4px;
    width: 100% ;
}

#submit_button{
   background-color: rgb(230, 236, 236);
   border: solid 1px;
   border-radius: 5px;
   color: black;
   margin-top: 4px;
   width: 125px;
   margin-left: 20px;
   margin-bottom: 20px;



}

footer {
    background-color: rgb(250, 246, 231);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#imagelarge:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */

}





