body {
    height: fit-content;
    font-family: 'Bitter', serif;
    

}

p {
    color: rgb(52, 54, 56);
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

#navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 3;
    width: 100vw;

}

.nav-item {
    float: right;
}
   


#main_section{
    background-image: url(https://images.unsplash.com/photo-1616499062101-3a7e34488ae3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2389&q=80);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;

    
    
   
}

#main_content {
    margin-bottom: 300px;
    

}

#william_sutton {
    position: relative;
    color: rgb(217, 245, 255); 
    text-align: center; 
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    


}

#web_developer {

    position:relative;
    color: rgb(231, 229, 199);
    text-align: center;
    font-size: 25px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}

#about_me {
    font-family: 'Cairo', sans-serif;
    color: white;
}

#about_section{
    background: rgb(190, 203, 216);
    height: 400px;
    text-align: center;
    padding-top: 90px;

}


#projects_section {
    background-color: rgb(250, 246, 231);
    padding-bottom: 50px;
}


#projects_header {
    text-align: center;
    padding-top: 50px;
    font-family: 'Cairo', sans-serif;
    
    


}


  
img:hover {

    opacity: .5;
    transition: .5s ease;
}



#project1 {
   margin-top: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   height: auto;
   text-align: center;
   background:  rgb(190, 203, 216);
   border-style: none;
   border-radius: 1em;

   
   
}

#p1{
    margin-top: 50px;
}

label, input, textarea {
    display: block;
}

#contact_me{

    font-family: 'Cairo', sans-serif;
    color: white;
}

.contact_form{
    width: 75%;
    background-color: rgb(250, 246, 231);
    border-style: none;
    border-radius: 5px;
}


#fs-frm-inputs{
    color: whitesmoke;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#contact_section {
  
    background-color: rgb(190, 203, 216);
    background-image: url();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    

}

#full-name{
    width: 50%;
}


#email-address {
    width: 50%;

}

#email-subject{
    width: 70%;
}

#message{
    margin-top: 4px;
    width: 100% ;
}

#submit_button{
   background-color: rgb(230, 236, 236);
   border: solid 1px;
   border-radius: 5px;
   color: black;
   margin-top: 4px;
   width: 125px;
   margin-left: 20px;
   margin-bottom: 20px;



}

footer {
    background-color: rgb(250, 246, 231);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}






